<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        insta485
    </title>
</head>
<body>
    <div>
        <a href = "/">Home </a>
        <h1>Insta485</h1>
        <h3>login</h3>
        <!-- DO NOT CHANGE THIS (aside from styling) -->
        <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
        Photo <input type="file" name="file" required/> 
        <br> Name <input type="text" name="fullname" required/>
        <br> Username <input type="text" name="username" required/>
        <br> Email <input type="text" name="email" required/>
        <br> Password <input type="password" name="password" required/>
        <input type="submit" name="signup" value="sign up"/>
        <input type="hidden" name="operation" value="create"/>
        </form>
        
        <p>Have an account?
            <a href="/accounts/login/"> Log in </a>
        </p>

    </div>
    
</body>

</html>