<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        insta485
    </title>
</head>
<body>
    <div> 
        <a href = "/">Home </a>
        <h1>Insta485</h1>
        <a href = "/explore/"> explore </a>
        <p> | </p>
        <a href = "/users/{{logname}}/"> {{logname}}</a>
    </div>
    <div>
        <!-- DO NOT CHANGE THIS -->
        <form action="/accounts/?target=url_for('edit')" method="post" enctype="multipart/form-data">
            <br> Old password
            <input type="password" name="password" required/>
            <br> New password
            <input type="password" name="new_password1" required/>
            <br> New password, again
            <input type="password" name="new_password2" required/>
            <br>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
        <a href="/accounts/edit/"> Back to edit account
        </a>
    </div>
</body>

</html>