<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        insta485
    </title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <div>
        <a href="/">Home </a>
        <h1>Insta485</h1>
        <a href="/explore/"> explore </a>
        <p> | </p>
        <a href="/users/{{logname}}/"> {{logname}}</a>
    </div>

    <div>
        <table style="width:50%">
            <tr>
                <th><a href="/users/{{posts[0]['owner']}}/">
                        <img src="{{posts[0]['owner_img_url']}}" alt="{{posts[0]['owner']}}"
                            style="width:20px;height:20px;">
                    </a>
                    <a href="/users/{{posts[0]['owner']}}/">
                        <p>{{posts[0]['owner']}}</p>
                    </a>
                    <a href="/posts/{{postid}}/">
                        <p>{{posts[0]['timestamp']}}</p>
                    </a>
                    <img src="{{posts[0]['filename']}}" alt="Error showing image">
                    {% if likes[0]['COUNT(likeid)'] == 0 or likes[0]['COUNT(likeid)'] >= 2 %}
                    {{likes[0]['COUNT(likeid)']}} likes <br>
                    {% else %}
                    {{likes[0]['COUNT(likeid)']}} like <br>
                    {% endif %}

                    {% for c in comments %}
                    <a href="/users/{{c.owner}}/">{{c.owner}}</a> {{c.text}} <br>
                    {% if c.owner == logname %}
                    <form className="delete-comment-button" action="/comments/?target=/posts/{{postid}}/" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="delete" />
                        <input type="hidden" name="commentid" value="{{c.commentid}}" />
                        <input type="submit" name="uncomment" value="delete" />
                    </form>
                    {% endif %}
                    {% endfor %}

                    {% if islike[0]['COUNT(likeid)'] != 0 %}
                    <form className="like-unlike-button" action="/likes/?target=/posts/{{postid}}/" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="unlike" />
                        <input type="hidden" name="postid" value="{{postid}}" />
                        <input type="submit" name="unlike" value="unlike" />
                    </form>
                    {% else %}
                    <!-- <form className="like-unlike-button" action="/likes/?target=/posts/{{postid}}/" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="like" />
                        <input type="hidden" name="postid" value="{{postid}}" />
                        <input type="submit" name="like" value="like" />
                    </form> -->
                    <button className="like-unlike-button">
                        like
                    </button>
                    {% endif %}

                    <form className="comment-form" action="/comments/?target=/posts/{{postid}}/" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="create" />
                        <input type="hidden" name="postid" value="{{postid}}" />
                        <input type="text" name="text" required />
                        <input type="submit" name="comment" value="comment" />
                    </form>

                    {% if islogname[0]['COUNT(owner)'] != 0 %}
                    <form action="/posts/?target=/users/{{posts[0]['owner']}}/" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="delete" />
                        <input type="hidden" name="postid" value="{{postid}}" />
                        <input type="submit" name="delete" value="delete this post" />
                    </form>
                    {% endif %}
                </th>
            </tr>
        </table>
    </div>

</body>

</html>